@model IskurGunlugu.Models.PagesModels.IndexModel
@{
    ViewBag.Title = "Home Page";
    int i = 0;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    @foreach (var slider in Model.Slider)
                    {
                        i++;
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i"></button>

                    }

                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Content/images/slider/image1.png" class="d-block w-100" alt="...">

                    </div>
                    @foreach (var slider in Model.Slider)
                    {
                        <div class="carousel-item">
                            <img src="~/Content/images/slider/@slider.Image" class="d-block w-100"  alt="...">
                            <div class="carousel-caption">
                                <h3 class="@slider.TitleColor">@slider.Title</h3>
                                <p>@slider.Description</p>
                                <a href="@slider.Link" class="btn @slider.Button">@slider.Title</a>
                            </div>
                        </div>
                        
                    }

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h2>Kategoriler</h2>
            <hr />
        </div>
        <div class="col-12">
            <div class="row">
                @foreach (var kategori in Model.Category)
                {
                    <div class="col-3">
                        <div class="card">
                            <img src="~/Content/images/category/@kategori.Image" class="card-img-top" />

                            <div class="card-body">
                                <h5>@kategori.Name</h5>
                                <a href="~/Home/CategoryDetail/@kategori.Id" class="btn btn-warning">Detay</a>
                            </div>
                        </div>
                    </div>
                }

               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <h2>Bloglar</h2>
            <hr />
        </div>
        <div class="col-12">
            <div class="row">
                @foreach (var blog in Model.Blog)
                        { string blogImage = String.IsNullOrEmpty(blog.Image) ? "image1.png" : blog.Image;
                    <div class="col-md-4 pl-3 pr-3">
                        <div class="row">
                            <img src="~/Content/images/blog/@blogImage" width="100%" />
                            <h5>@blog.Title</h5>
                            <div class="col-12">
                                <span style="float:left" class="text-muted">Yazar: <i>Erhan</i></span>
                                <span style="float:right" class="text-muted">Tarih: <i>@blog.dateTime</i></span>
                            </div>
                            <div class="col-12">
                                <p>@(blog.Description.Length>97?blog.Description.Substring(0,97):blog.Description) ...</p>
                            </div>
                            <div class="col-12">
                                <a class="btn btn-primary" href="~/Home/BlogDetay/@blog.Id">Blog Detayı...</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>